.albums{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.album{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 8px;
  width: 100%;
  box-sizing: border-box;
}

.album img {
  width: 100%;
  height: auto;
}

.album:hover{
  background-color: var(--secondaryColor);
}

.album h3{
  color: var(--lightGrey);
  font-family: "EB Garamond";
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}

.year-songs{
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  height: auto;
  color: var(--secondaryText);
}

@media (max-width: 768px) {
  .albums {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .albums {
      grid-template-columns: 1fr;
  }
}