.album-info{
  display: flex;
  gap: 16px;
  padding: 24px 0;
  border-bottom: 1px solid var(--lightGrey);
}

.album-info img{
  width: 240px;
  height: 240px;
  border-radius: 8px;
}

.song{
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song .song-number-title{
  display: flex;
  align-items: center;
  gap: 36px;
}

.song .songTitle{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.songTitle > p:first-child{
  font-weight: 600;
}

.song-number-title > p{
  color: var(--secondaryText);
}

.song .like-time{
 display: flex;
 flex-direction: row;
 gap: 16px;
 align-items: center;
}

.like-time button{
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.review div{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

section>h3{
  margin: 32px 0;
  padding: 8px 0;
  border-bottom: 1px solid var(--lightGrey);
  border-top: 1px solid var(--lightGrey);
}

.review p:last-child{
  text-align: right;
}