.clip-svg {
  clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0);
  z-index: -1;
  margin-top: 36px;
  max-width: 100%;
}

.clipped-image{
  display: flex;
  justify-content: center;
  align-items: center;
}