/* INDEX PAGE STYLES */

.background-image .menu{
  margin: 0;
  position: fixed;
  top: 128px;
  left: 64px
}

.background-image h1{
  font-size: 64px;
  color: var(--pureWhiteColor);
  margin: 0;
}

.menu nav ul{
  display: flex;
  gap: 12px;
}

.menu nav ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 24px;
  outline: 1px solid var(--pureWhiteColor);
}
  


.menu nav ul li:hover{
  background-color: var(--primaryColor);
  outline: 1px solid var(--primaryColor);
}

.background-image{
  background-image: url('../assets/portadaLittleSimz.jpg');
  background-size: cover;
  height: 100vh;
}

@media (max-width: 576px) {
  .background-image{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .background-image .menu{
    position: static;
    margin: 0 64px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .background-image h1{
    font-size: 48px;
  }

  .menu nav ul{
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  }
}
