/* INDEX PAGE STYLES */

.menu{
  margin: 0;
  position: fixed;
  top: 128px;
  left: 64px
}

.menu h1{
  font-size: 64px;
  color: var(--pureWhiteColor);
  margin: 0;
}

.menu nav ul{
  display: flex;
  gap: 12px;
}

.menu nav ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 24px;
  outline: 1px solid var(--pureWhiteColor);
}

.menu nav ul li:hover{
  background-color: var(--primaryColor);
  outline: 1px solid var(--primaryColor);
}

.background-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire viewport */
  z-index: -1; /* Places the image behind any other content */
}

@media (max-width: 576px) {
  .background-image{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu{
    position: static;
    margin: 64px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .menu h1{
    font-size: 48px;
  }

  .menu nav ul{
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  }
}
