.presentacio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.presentacio img{
  margin: 0 0 2em 2em;
  width: 100%;
  height: auto;
}

.presentacio p{
  margin-bottom: 32px;
}

@media (max-width: 840px) {
  .presentacio{
    display: block;
  }
  .presentacio img{
    margin: 0 0 16px 0;
  }
}