.presentacio img{
  float: right;
  margin: 0 0 2em 2em;
}

.presentacio p{
  margin-bottom: 32px;
}

.presentacio p:last-child{
  text-align: right;
}

@media (max-width: 699px) {
  .presentacio img{
    float: none;
    width: 100%;
    margin: 0 0 16px 0;
  }
}