@import 'configCSS/var.css';
@import 'configCSS/reset.css';

@import 'pagesStyles/index.css';
@import 'pagesStyles/categories.css';
@import 'pagesStyles/detall.css';
@import 'pagesStyles/enllacos.css';
@import 'pagesStyles/presentacio.css';

/* GENERAL STYLES */

html{
  font-family: "Poppins", sans-serif;
  color: var(--lightGrey);
}

body{
  background-color: var(--grey);
}

main{
  padding: 100px 24px;
  max-width: 1300px;
  margin: 0 auto;
}

h3{
  color: var(--lightGrey);
  font-family: "EB Garamond";
  font-size: 36px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}

p{
  font-size: 14px;
}

p a:hover{
  color: var(--primaryColor);
}

header{
  border-bottom: 1px solid var(--lightGrey);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--grey);
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

header nav ul{
  display: flex;
  align-items: flex-end;
  align-self: stretch;
}

header nav ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 16px;
}

header nav ul li:hover{
  color: var(--primaryColor);
}

footer{
  display: flex;;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 24px;
}

.active{
  border-bottom: 2px solid var(--primaryColor);
  color: var(--primaryColor);
}

.logo{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

button .material-icons{
  color: var(--lightGrey);
}

header svg {
  padding: 16px;
}