@import 'configCSS/var.css';
@import 'configCSS/reset.css';

html{
  font-family: "Poppins", sans-serif;
  color: var(--pureWhiteColor);
}

.background-image .title{
  margin: 0;
  position: fixed;
  top: 128px;
  left: 64px
}

.background-image h1{
  font-size: 64px;
  color: var(--pureWhiteColor);
  margin: 0;
}

.background-image ul{
  display: flex;
  gap: 12px;
}

.background-image li{
  padding: 4px 24px;
  outline: 1px solid var(--pureWhiteColor);
  border-radius: 16px;
}

.background-image li:hover{
  background-color: var(--primaryColor);
  outline: 1px solid var(--primaryColor);
}

header{
  color: var(--primaryColor);
}

.background-image{
  background-image: url('assets/portadaLittleSimz.jpg');
  background-size: cover;
  height: 100vh;
}

