@import 'configCSS/var.css';
@import 'configCSS/reset.css';

@import 'pagesStyles/index.css';
@import 'pagesStyles/categories.css';
@import 'pagesStyles/detall.css';
@import 'pagesStyles/enllacos.css';
@import 'pagesStyles/presentacio.css';

/* GENERAL STYLES */

html{
  font-family: "Poppins", sans-serif;
  color: var(--pureWhiteColor);
}

body{
  background-color: var(--grey);
}

.active{
  font-weight: 800;
}